* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';

}

.background_reyna{
    background-image: url(../imgs/reyna-fundo.jpg);
    background-size:cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    
}
.header {
    display: flex;
    justify-content: center;
    font-size: large;
    color: white;
    height: 8%;
    align-items: center;
}
.navbar{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 10%;
    white-space: nowrap;
    
}
.home {
    border-bottom: 2px solid #FF4655;
}
.container{
    width: 45%;
    height: 30%;
    margin-top: 23%;
    margin-left: 3%;
}
.titulo{
    font-weight: 800;
    font-size: 2.2vmax;
    color: #FF4655;
}
.texto{
    font-size: 1.2vmax;
    color: white;
    line-height: 170%;
}
.bloco2{
    display: flex;
    justify-items: row;
}
.caixa_texto{
    width: 40%;
    margin-left: 3%;
    margin-top: 3%;
}
.titulo2{
    font-weight: bolder;
    font-size: 24px;
    color: black;
    margin-bottom: 5%;
}
.texto2{
    color: #706D6D;
    font-size: 17px;
    line-height: 180%;
}
.bloco3{
    margin-top: 2%;
    margin-left: 2%;
    margin-bottom: 3%;
}
.bloco4{
    background-image: url(../imgs/fundoviper.png);
    height: 86vh;
    display: flex;
    align-items: center;
}
.cards{
    display: flex;
    color: white;
    width: 20%;
    margin-left: 10%;
    line-height: 170%;
    flex-direction: column;
}
.qtd_fps{
    display: flex;
    font-weight: bolder;
    font-size: 30px;
    justify-content: center;
    width: 100%;
}
.footer{
    height: 15vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.copy{
    font-weight: bold;
    color: white;
}
.footer img{
    margin-right: 3%;
}