/* configurações gerais da página */
* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';

}
/* colocando a imagem de fundo na div */
.background{
    background-image: url(../imgs/fundo-agentes.png);
    background-size: cover;
    display: flex;
    height: 100.1vh;
    flex-direction: column;
}
/* header e navbar */
.header {
    display: flex;
    justify-content: center;
    font-size: large;
    color: white;
    height: 8%;
    align-items: center;
}
.navbar{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 8%;
    white-space: nowrap;
    font-weight: 400;
    
}
.guia_agentes {
    border-bottom: 2px solid #C1E7FE;
    font-weight: 800;
    text-decoration: none;
    color: white;
    transition: 0.3s ease;
}
.guia_agentes:hover{
    transform: scale(1.1);
}
.links{
    font-weight: 800;
    text-decoration: none;
    color: white;
    transition: 0.3s ease;
}
.links:hover {
    transform: scale(1.1);
  }
.container{
    width: 40%;
    height: 30%;
    margin-top: 20%;
    margin-left: 3%;
}
.titulo_introducao{
    font-weight: 800;
    font-size: 2.2vmax;
    color: #C1E7FE;
}
.texto_introducao{
    font-size: 1.2vmax;
    color: white;
    line-height: 200%;
}
.bloco2{
    display: flex;
    justify-items: row;
}
.titulo_agentes{
    font-weight: 800;
    font-size: 2.2vmax;
    color: black;
    
}
.caixa_texto{
    width: 40%;
    margin-left: 3%;
    margin-top: 3%;
}
.explicacao_funcoes{
    display: flex;
    flex-direction: column;
    height: 200vh;
}
.caixa_duelistas{
    display: flex;
    margin-top: 5%;
    justify-content: center;
    align-items: center;
}
.icone_classe_duelista{
    width: 170px;
    height: 170px;
    margin-top: 2%;
    margin-left: 2%;
}
.icons_duelistas{
    display: flex;
    flex-direction: column;
    width: 35vw;
    height: 35vh;
    margin-top: 1%;
    box-sizing: border-box;
}
.fileira1{
    display: flex;
    margin-bottom: 2%;
    width: 20vw;
    height: 25vh;
}
.fileira2{
    display: flex;
    width: 20vw;
    height: 25vh;
}
.icone_agente{
    margin-right: 30%;
    height: 100px;
    transition: 0.3s ease;
    cursor: pointer;

}
.icone_agente:hover {
    transform: scale(1.2);
  }

.texto_agentes{
    color: #706D6D;
}
.informacoes_duelistas{
    width: 30%;
    line-height: 180%;
    margin-left: 8%;
    margin-right: 10%;


}
.informacoes_iniciadores{
    width: 30%;
    line-height: 180%;
    margin-left: 8%;
    margin-right: 10%;
}
.caixa_iniciadores{
    display: flex;
    margin-top: 5%;
    flex-direction: row-reverse;
    width: 98.7vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.icons_iniciadores{
    display: flex;
    flex-direction: column;
    width: 35vw;
    height: 35vh;
    margin-left: 4%;
}
.icone_classe_iniciador{
    width: 170px;
    height: 170px;
    margin-right: 2%;
}
.caixa_controladores{
    display: flex;
    width: 98.7vw;
    height: 45vh;
    margin-top: 5%;
    justify-content: center;
    align-items: center;
}
.icons_controladores{
    display: flex;
    flex-direction: column;
    width: 35vw;
    height: 35vh;
    margin-top: 1%;
    box-sizing: border-box;
}
.informacoes_controladores{
    width: 30%;
    line-height: 180%;
    margin-left: 8%;
    margin-right: 10%;


}
.fileira_control_2{
    display: flex;
    width: 20vw;
    height: 20vh;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-left: 30%;
}
.informacoes_sentinelas{
    width: 30%;
    line-height: 180%;
    margin-left: 8%;
    margin-right: 10%;
}
.caixa_sentinelas{
    display: flex;
    margin-top: 5%;
    flex-direction: row-reverse;
    width: 98.7vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.icons_sentinelas{
    display: flex;
    flex-direction: column;
    width: 35vw;
    height: 35vh;
    margin-left: 6%;
}
.icone_classe_sentinela{
    width: 170px;
    height: 170px;
    margin-right: 2%;
}
.icone_agente_sent{
    margin-right: 20%;
    height: 100px;
    transition: 0.3s ease;
    cursor: pointer;

}
.icone_agente_sent:hover {
    transform: scale(1.2);
  }

.fileira_sent_2{
    width: 35vw;
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.fileira_sent_1{
    width: 35vw;
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.footer{
    height: 15vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.copy{
    font-weight: bold;
    color: white;
}
.footer img{
    margin-right: 3%;
}
