* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';

}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 200,
    'GRAD' 0,
    'opsz' 70

  
}
#arrow_login{
    color: #92568F;
    font-size: 2.4vmax;
    font-weight: 900;
    align-self: center;
    margin-top: 5%;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 900,
  'GRAD' 0,
  'opsz' 70
}

.container{
    display: flex;
    flex-direction: row-reverse;
    width: 100vw;
    height: 100vh;
   
}
.bloco_forms{
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: #f5f5f5;
    
}
.fundo_astra{
    background-image: url(../imgs/fundo_login.png);
    background-size:cover;
    background-position: 50%;
    width: 100%;
}
.titulo{
    margin-top: 10%;
    display: flex;
    align-items: center;
}
.texto_titulo{
    font-family: 'Montserrat','Sans-Serif';
    font-style: normal;
    font-weight: 600;
    font-size: 4.5vmax;
    line-height: 50px;
    color: #92568F;
    margin-left: 1.5vw;

}
.botao_cadastrar{
    width: 3.7vw;
    height: 8vh;
    margin-left: 15vw;
    cursor: pointer;
    background-color: #f5f5f5;
    box-shadow: 0 0 0 0 rgba(0,0,0,0),0 0 0 0 rgba(0,0,0,0);
    border: 1px #92568F solid;
    border-radius: 8px;
}
input:focus{
    outline: none;
}
.input{
    width: 28vw;
    height: 7.5vh;
    margin-bottom: 2vh;
    background-color: #D9D9D9;
    border:  1px #8a8a8a solid;
    border-radius: 5px;
    margin-top: 4%;
    font-size: 1vmax;
    color: #4b4b4b;
    padding-left: 2%;
}
.input2{
    width: 28vw;
    height: 7.5vh;
    margin-bottom: 2vh;
    background-color: #D9D9D9;
    border: none;
    border-radius: 5px;
    border:  1px #8a8a8a solid;
    font-size: 1vmax;
    color: #4b4b4b;
    padding-left: 2%;
}
.inputs{
    margin-top: 1vh;
    text-align: center;
}
.texto_bemvindo{
    font-size: 1vmax;
    color: #ACACAC;
    
}
.valorant{
    color: #92568F;
}
#voltar{
    margin-left: 2%;
    position: absolute;
    margin-top: 1%;
    color: #92568F;
    cursor: pointer;
}
.redirecionando_login{
    font-size: 1vmax;
    align-self: center;
    margin-top: 10%;
    color: #ACACAC;
}
.caps{
    color: #92568F;
    font-weight: 800;
    cursor: pointer;
}
#mensagem_erro{
    margin-left: 2.6vw;
    color: #92568F;
    font-size: 1vmax;
    font-weight: 800;
}