* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';

}

.background_mapas{
    background-image: url(../imgs/background-mapas.png);
    background-size:cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-position: 65%;
    width: 100%;
}
.header {
    display: flex;
    justify-content: center;
    font-size: large;
    color: white;
    height: 8%;
    align-items: center;
}
.login{
    margin-left: 80%;
    position: absolute;
    background-color:#FF4655;
    color: white;
    box-shadow: 0 0 0 0 rgba(0,0,0,0),0 0 0 0 rgba(0,0,0,0) !important;
    border-bottom: 0px;
    border:none!important;
    width: 10vw;
    height: 4vh;
    font-size: large;
    border-radius: 6%;
}
.navbar{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 8%;
    white-space: nowrap;
    font-weight: 400;
    
}
.home {
    border-bottom: 2px solid #FF4655;
    font-weight: 800;
    text-decoration: none;
    color: white;
    transition: 0.3s ease;
    cursor: pointer;
}
.home:hover {
    transform: scale(1.2);
  }

.links{
    font-weight: 800;
    text-decoration: none;
    color: white;
    transition: 0.3s ease;
}
.links:hover {
    transform: scale(1.1);
  }

.container{
    width: 45%;
    height: 30%;
    margin-top: 10%;
    margin-left: 5%;
}
.titulo{
    font-weight: 800;
    font-size: 3vmax;
    color: white;
    font-family: 'Montserrat', sans-serif;
    line-height: 170%;
    
}
.texto{
    font-size: 1.5vmax;
    color: white;
    line-height: 170%;
}
.seta_baixo{
    display: flex;
    color: white;
    margin-top: 39%;
    position: absolute;
    flex-direction: column;
    align-items: center;
    width: 15%;
    margin-left: 45%;
    transition: 0.3s ease;
    cursor: pointer;
}


.seta_baixo:hover {
    transform: scale(1.2);
}

.conheca{
    font-weight: 800;
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 700,
    'GRAD' 0,
    'opsz' 70;
    font-size: 1.5vmax;
}
#carrosel{
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  background-image: url(../imgs/carrosel_ascent.png);
}
#container_texto{
  width: 60%;
  height: 55%;
  margin-top: 15%;
  width: 40%;
  margin-left: 10%;
}
#botao_avancar{
  position: absolute;
  margin-left: 98%;
  margin-top: 20%;
  color: white;
  cursor: pointer;
  
}

#botao_retroceder{
  position: absolute;
  margin-top: 20%;
  color: white;
  cursor: pointer;

}
.titulo_mapa{
  font-weight: 800;
  font-size: 3vmax;
  color: white;
  font-family: 'Montserrat', sans-serif;
  line-height: 170%;
  
}
.texto_mapa{
  font-size: 1.5vmax;
  color: white;
  line-height: 170%;

}